[LOGGING_LEVELS]

is_console_handler=True
is_enable_log_level_debug=False
is_enable_log_level_info=False
is_enable_log_level_warning=False
is_enable_log_level_error=False
is_enable_log_level_critical=False

[configurations]
# Description from python docs : https://docs.python.org/3/library/logging.handlers.html
back_up_count=6
rotating_interval=360
when=M
